.container {
  min-height: 100%;
  height: 100%;
}

.usernameWrapper {
  width: 100%;
  display: flex;
  min-height: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.usernameInner {
  display: flex;

  padding: 5rem;
  border-radius: 8px;
}

.usernameInner input,
.usernameInner button {
  font-size: 1.25rem;
}

.usernameInner button {
  margin-left: 1rem;
}
